<!--The content below is only a placeholder and can be replaced.-->
<body>

  <div class="fundo">
    <form class="form-inline">

      <div id = "login">
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="email@email.com">
          </div>
      </div>

      <div id = "senha">
          <div class="form-group">
            <input type="password" class="form-control" id="senha" placeholder="senha">
          </div>
      </div>

      <div id = "esqueciSenha">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Lembrar 
            </label>
          </div>
      </div>

      <div id = "botao">
          <button type="submit" class="btn btn-primary">Logar</button>
      </div>

      </form>
  </div>

</body>


<router-outlet></router-outlet>
